.text-center {
  text-align: center;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

div.iframe {
  width: 450px;
  height: 700px;

  margin: 0 auto;
}