.reveal section .text-center {
  text-align: center;
}

.reveal section .inline {
  display: inline;
}

.reveal section .block {
  display: block;
}

.reveal section .inline-block {
  display: inline-block;
}

.reveal section div.iframe {
  width: 450px;
  height: 700px;

  margin: 0 auto;
}

.reveal section .float-left {
  display: inline;
  float: left;
}

.reveal section img.float-left {
  border: 0;
}

.reveal section img.transparent {
  background: transparent;
  box-shadow: none;
}